DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/DB_NAME?schema=public"
PORT=8001

rootLogin=root
rootPass=pass

tokenSecret=token
tokenLife="1d"
tokenRefreshSecret=refresh
tokenRefreshLife="14d"

app_url=

shikimori_url="https://shikimori.one/api"
shikimori_client_id=
shikimori_client_secret=
shikimori_agent=

kodik_api_key=