DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/DB_NAME?schema=public"
PORT=8001

REDIS_HOST=localhost
REDIS_PORT=6379

rootLogin=root
rootPass=pass

tokenSecret=token
tokenLife="1d"
tokenRefreshSecret=refresh
tokenRefreshLife="14d"

shikimori_url="https://shikimori.one/api"
shikimori_client_id=
shikimori_client_secret=
shikimori_agent=

app_url=

kodik_api_key=
country_short_name=RU

# SSL parameters
ssl=0
ssl_cert=
ssl_key=
